* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.texto::first-line {
  background-color: brown;
  color: white;
}
.texto::first-letter {
  font-size: 30px;
  color: black;
  background-color: white;
}
.texto::selection {
  color: saddlebrown;
  background-color: black;
}
li {
  background-color: grey;
  width: 40%;
  list-style: none;
  padding: 5px;
  border: 10px groove rgb(182, 55, 55);
  margin-bottom: 25px;
}
li::before {
  content: "⚽";
  font-size: 20px;
  display: inline-block;
  margin-right: 10px;
}
li::after {
  content: "🍔";
  font-size: 10px;
  margin-left: 10px;
}
li::marker {
  color: red;
  font-size: 25px;
}
ul {
  width: 400px;
  background-color: indigo;
  display: flex;
  flex-direction: column;
  align-items: center;
}
